<div class="row bottom-margin">
  <h1>Wygenerowaliśmy dla Ciebie menu!</h1>

  <p class="lead">Oto twój jadłospis na 1 dzień. <br>Zachowaj go, lub wygeneruj nowy.</p>
</div>

<div class="row bottom-margin">
  <div class="row bottom-margin">
    <%= render :partial => "pages/generator_form" %>
  </div>

  <% if current_user %>
      <div class="row bottom-margin">
        <div class="text-center">
          <% unless @menu.saved? %>
              <%= link_to('ZAPISZ', save_path(@menu), method: :post, class: "btn btn-success", style: "text-center") %>
          <% end %>
          <%= link_to 'drukuj przepisy', print_menu_menu_path(@menu), method: :get, class: "btn btn-default" %>
          <%# link_to 'drukuj listę zakupów', print_shopping_menu_path(@menu), method: :get, class: "btn btn-default" %>

        </div>
      </div>
  <% end %>
</div>

<div class="menu">
  <% @menu.recipes.each_with_index do |recipe, index| %>
      <div class="row">
        <div class="heading"><%= "#{index_to_category index} (#{recipe.calories} kcal)" %></div>
        <hr>
        <%= render "recipe", :recipe => recipe %>
      </div>

  <% end %>
</div>
<% unless current_user %>
    <div class="row">
      <div class="text-center">
        <h1>Zalogowani mogą więcej!</h1>

        <p class="lead">Chcesz drukować przepisy, listy zakupów? Komentować i oceniać?</p>
        <%= link_to "Zarejestruj się teraz!", new_user_path, class: "btn btn-primary" %>

      </div>
    </div>
<% end %>


