<div class="panel-body">
  <%= form_for(@recipe) do |f| %>
      <%= errors_for @recipe %>

      <div class="form-group ">
        <%= f.label :name, "Nazwa" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :private, "Przepis prywanty" %>
        <%= f.check_box :private %>
      </div>


      <div class="form-group">
        <%= f.label :image, "Zdjęcie" %>
        <%= f.file_field :image %>
      </div>
      <div class="form-group">

        <%= f.label :category, "Kategoria" %>
        <br>
        <%= f.check_box :category, {:multiple => true}, "1", nil %> Śniadanie
        <%= f.check_box :category, {:multiple => true}, "2", nil %> Drugie Śniadanie
        <%= f.check_box :category, {:multiple => true}, "3", nil %> Obiad
        <%= f.check_box :category, {:multiple => true}, "4", nil %> Przekąska
        <%= f.check_box :category, {:multiple => true}, "5", nil %> Kolacja

      </div>
      <hr>

      <div id="products">
        <%= f.label :ingredients, "Składniki" %>
        <%= f.fields_for :ingredients do |ingredient| %>
            <%= render 'ingredient_fields', f: ingredient %>
        <% end %>
        <div class="links">
          <%= link_to_add_association '<span class="glyphicon glyphicon-plus" />'.html_safe, f, :ingredients, :render_options => {:wrapper => 'bootstrap'}, :class => "btn btn-success btn-xs" %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="form-group col-md-4">
          <%= f.label :servings, "Ilość porcji" %>
          <%= f.number_field :servings, class: "form-control" %>
        </div>
        <div class=" col-md-offset-4"></div>
        <div class="form-group col-md-4 " , style="float:right">
          <%= f.label :calories, "Kalorii na porcje" %>
          <%= f.number_field :calories, class: "form-control" %>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <%= f.label :instructions, "Instrukcje" %>
        <%= f.text_area :instructions, class: "form-control", rows: 20 %>

      </div>
      <div class="form-group text-center">
        <%= f.submit "Zapisz", :class => "btn btn-primary" %>
      </div>
  <% end %>
</div>


<script>
    $('#products').on('railsAutocomplete.select', '.ingredient', function () {
        var box = this
        var request = $.ajax({
            type: "GET",
            url: "/products/measures",
            data: {name: box.value}
        })

        request.done(function (response) {
            var $select = $(box).parent().siblings().children('.measures ')
            $select.empty()
            $.each(response, function (key, value) {
                $select.append($("<option></option>")
                        .attr("value", value).text(value));
            });
        })
    });
</script>

