<div class="panel-body">
  <%= form_for(@recipe) do |f| %>
      <% if @recipe.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

            <ul>
              <% @recipe.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group ">
        <%= f.label :name, "Nazwa" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :user_id, "Przepis prywanty" %>
        <%= f.check_box :user_id %>
      </div>


      <div class="form-group">
        <%= f.label :image, "Zdjęcie" %>
        <%= f.file_field :image %>
      </div>
      <div class="form-group">

        <%= f.label :category, "Kategoria" %>
        <br>
        <%= f.check_box :category, { :multiple => true }, "1", nil %> Śniadanie
        <%= f.check_box :category, { :multiple => true },  "2", nil %> Drugie Śniadanie
        <%= f.check_box :category, { :multiple => true },  "3", nil %> Obiad
        <%= f.check_box :category, { :multiple => true }, "4", nil %> Przekąska
        <%= f.check_box :category, { :multiple => true }, "5", nil  %> Kolacja

      </div>
      <hr>
      <%= f.label :ingredients, "Składniki" %>
      <%= f.fields_for :ingredients do |ingredient| %>
          <%= render 'ingredient_fields', f: ingredient %>
      <% end %>
      <div class="links">
        <%= link_to_add_association '<span class="glyphicon glyphicon-plus" />'.html_safe, f, :ingredients, :render_options => {:wrapper => 'bootstrap'}, :class => "btn btn-success btn-xs" %>
      </div>
      <hr>
      <div class="form-group">
        <%= f.label :instructions, "Instrukcje" %>
        <%= f.text_area :instructions, class: "form-control", rows: 20 %>

      </div>
      <div class="form-group text-center">
        <%= f.submit "Stwórz przepis", :class => "btn btn-primary" %>
      </div>
  <% end %>
</div>
