<div class="row">
  <div class="nested-fields ">
    <div class="form-group col-md-4">
      <%= f.fields_for :product do |item| %>
          <% name = f.object.item %>
          <% name = f.object.product.name if f.object.product %>
          <%= item.autocomplete_field :name, autocomplete_product_name_recipes_path,
                                      placeholder: "Produkt", class: "form-control input-sm ingredient", value: name, :update_elements => {} %>
      <% end %>
    </div>

    <div class="form-group col-md-2">
      <%= f.number_field :modifier, value: f.object.modifier || 1, class: "form-control input-sm" %>
    </div>
    <div class="form-group col-md-5">
      <% mes = [] %>
      <% mes << f.object.measure.unit if f.object.measure %>
      <% mes.concat(f.object.product.measures.pluck(:unit)) if f.object.product %>
      <% mes.uniq!  %>
      <%= f.select :measure, mes, {}, {class: "form-control input-sm measures"} %>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-md-1">
    <%= link_to_remove_association '<span class="glyphicon glyphicon-remove" />'.html_safe, f, class: "btn btn-default btn-xs" %>
    </div>
    </div>
</div>


