<div class="container">
<div class="row">
  <div class="jumbotron text-center banner recipes">
    <div class="discover">
      <h1>Odkrywaj przepisy</h1>
    </div>
  </div>
</div>

<div class="row">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" data-target="#all">Wszystkie (<%= @recipes.count %>)</a></li>
    <li><a data-toggle="tab" data-target="#breakfast">Śniadania (<%= @recipes.any_category("1").count %>)</a></li>
    <li><a data-toggle="tab" data-target="#snack">Przekąski (<%=@recipes.any_category("2").count %>)</a></li>
    <li><a data-toggle="tab" data-target="#lunch">Lunch (<%=@recipes.any_category("3").count %>)</a></li>
    <li><a data-toggle="tab" data-target="#dinner">Obiady (<%=@recipes.any_category("4").count %>)</a></li>
    <li><a data-toggle="tab" data-target="#private">Twoje przepisy (<%= Recipe.user_recipes(current_user).count%>)</a></li>

  </ul>

  <div class="tab-content">
    <div id="all" class="tab-pane fade active in"><%= render "recipes", :recipes => @recipes  %></div>
    <div id="breakfast" class="tab-pane fade"><%= render "recipes", :recipes => @recipes.any_category("1")  %></div>
    <div id="snack" class="tab-pane fade"><%= render "recipes", :recipes => @recipes.any_category("2")  %></div>
    <div id="lunch" class="tab-pane fade "><%= render "recipes", :recipes => @recipes.any_category("3")%></div>
    <div id="dinner" class="tab-pane fade"><%= render "recipes", :recipes => @recipes.any_category("4")  %></div>
    <div id="private" class="tab-pane fade"><%= render "recipes", :recipes => Recipe.user_recipes(current_user)%></div>

  </div>

</div>
</div>




