<div class="container">
<div class="row">

  <div class="text-center">
    <h1>Nasze przepisy</h1>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="row">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" data-target="#all">Wszystkie</a></li>
    <li><a data-toggle="tab" data-target="#breakfast">Śniadania</a></li>
    <li><a data-toggle="tab" data-target="#snack">Przekąski</a></li>
    <li><a data-toggle="tab" data-target="#dinner">Obiady</a></li>
  </ul>

  <div class="tab-content">
    <div id="all" class="tab-pane fade in active">b</div>
    <div id="breakfast" class="tab-pane fade">c</div>
    <div id="snack" class="tab-pane fade">d</div>
    <div id="dinner" class="tab-pane fade">e</div>
  </div>


 <ul class="nav nav-tabs" id="myTab">
  <li class="active"><a data-target="#home" data-toggle="tab">Home</a></li>
  <li><a data-target="#profile" data-toggle="tab">Profile</a></li>
  <li><a data-target="#messages" data-toggle="tab">Messages</a></li>
  <li><a data-target="#settings" data-toggle="tab">Settings</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="home">Home</div>
    <div class="tab-pane" id="profile">Profile</div>
    <div class="tab-pane" id="messages">Message</div>
    <div class="tab-pane" id="settings">Settings</div>
  </div>
  <% @recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">

          <div class="caption">
            <h3><%= recipe.name %></h3>

            <p><%= recipe.calories %> kalorii</p>

            <p><%= recipe.instructions.truncate_words(30) %></p>

            <p><%= link_to "Więcej", recipe_path(recipe), class: "btn btn-primary" %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>
</div>




